<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Project For Code Immersives</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <% if(weather){%>
            <div class="card">
                <div class="container">
                  <p>weather.data.daily.data</p>
                </div>
              </div>
    
            <%}%> 
    </body>
</html>